body {
  --bege: #f2f1f1;
  --cinza-escuro: #877d7d;
  --cinza-claro: #b4b4b4;
  font-family: 'Barlow', sans-serif;
  height: 4000px;

}

input[type=checkbox] {
  border: 2px solid var(--cinza-escuro);
  box-shadow: none;
}

input[type=checkbox]:checked,
input[type="checkbox"]:focus {
  background-color: var(--cinza-escuro);
  border-color: var(--cinza-escuro);
  box-shadow: none;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--cinza-escuro); /* Cor do polegar */
  cursor: pointer;
}

[data-bs-theme="light"] input[type=checkbox],
[data-bs-theme="light"] input[type=checkbox]:checked,
[data-bs-theme="light"] input[type="checkbox"]:focus {
  background-color: transparent;
  border-color: var(--cinza-escuro);
  box-shadow: none;
  outline: none;
}

[data-bs-theme="dark"] input[type=checkbox],
[data-bs-theme="dark"] input[type=checkbox]:checked,
[data-bs-theme="dark"] input[type="checkbox"]:focus {
  background-color: transparent;
  border-color: var(--cinza-escuro);
  box-shadow: none;
  outline: none;
}

.banner-1 {
  background-image: url(assets/banner-1.jpg);

}

.banner-2 {
  background-image: url(assets/banner-2.jpg);

}

.banner-3 {
  background-image: url(assets/banner-3.jpg);

}

.banners-titulo {
  --bs-bg-opacity: .4;

}


.banners {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* paralax fixa a imagem na tela para efeito */

}


.botao-padrao {
  background-color: var(--cinza-escuro);
  text-align: center;
  font-weight: bold;
  color: black;

}

.title {
  font-family: Barlow;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 3px;

}


.card-text{
  font-size: 1rem;
}

.card-text-serv{
  font-size: 0.8rem;
}


.footer {
  background-color: var(--cinza-escuro);
}

[data-bs-theme="light"] {
  color: black; 
  .nav-link, .card-body, .offcanvas, .accordion, .btn{
    --bs-nav-link-color: black;
    --bs-card-color: black;
    --bs-offcanvas-color: black;
    --bs-accordion-color: black;
    --bs-btn-color: black;
  }     
  
}

[data-bs-theme="dark"] {
  color: white; 
  .nav-link, .card-body, .offcanvas, .accordion, .btn{
    --bs-nav-link-color: white;
    --bs-card-color: white;
    --bs-offcanvas-color: white;
    --bs-accordion-color: white;
    --bs-btn-color: white;
    
  }     
  
}


.popup-email {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--cinza-escuro); /* Fundo escuro */
  color: white; /* Texto branco */
  border: 1px solid white; /* Bordas brancas */
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

[data-bs-theme="light"] .popup-email {
  background-color: white; /* Fundo claro */
  color: black; /* Texto preto */
  border-color: black; /* Bordas pretas */
}

[data-bs-theme="dark"] .popup-email {
  background-color: black; /* Fundo escuro */
  color: white; /* Texto branco */
  border-color: white; /* Bordas brancas */
}
